body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: thistle;
}

h1 {
    color: peru;
    text-align: center;
    border: solid 20px silver ;
}

h3 {
    color: darkmagenta;
}

div {
    font-size: 18px;
    margin: 3px;
}

ul {
    color: forestgreen;
}

ol {
    color: darkorchid;
}

li {
    padding: 1px;
}

a {
    color: forestgreen;
    border: solid 1px darkviolet;
    text-decoration: none;
}

a:hover {
    color: deeppink;
}

a:visited {
    color: peru;
}

p {
    text-align: center;
    color: slateblue;
    font-weight: 800;
    font-size: 24px;
}

.color {
    color: darkslateblue;
}